<header id="website-header">

    <div class="app-nav">
        <h4 class="h4">Open in app</h4>
        <img src="assets/arrow-narrow-up-right.svg" alt="upward arrow">
    </div>

    <nav class="top-nav">
        <div class="left-container">
            <img src="assets/logo.svg" alt="website-logo">

            <form action="/search" method="POST" class="search-wrapper" role="search">
                <img src="assets/search-sm.svg" alt="">
                <input type="search" aria-label="Search" name="searchTerm" id="searchInput" class="h4" placeholder="Search..">
            </form>
        </div>

        <div class="top-nav-icons">
            <a class="edit" href=""><img src="assets/edit-05.svg" alt="">Write</a>
            <img class="search" src="assets/search-sm.svg" alt="search">
            <img src="assets/bell-01.svg" alt="notifications">

            <div class="account">
                <img class="dropdown-trigger2" src="assets/user-circle.svg" alt="account">

                <!-- need a standardized code for handling all dropdowns -->
                <div class="dropdown-content2">
                    <div class="dropdown-menu">
                        <div class="menu-write">
                            <img src="assets/edit-05.svg" alt="">
                            <h4 class="h4">Write</h4>
                        </div>

                        <div class="menu-profile-list">
                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Profile</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/bookmark-add.svg" alt="">
                                <h4 class="h4">Library</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Stories</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Stats</h4>
                            </div>
                        </div>

                        <div class="menu-system-options">
                            <h4 class="h4">Settings</h4>
                            <h4 class="h4">Refine recommendations</h4>
                            <h4 class="h4">Manage publications</h4>
                            <h4 class="h4">Help</h4>
                        </div>

                        <div class="menu-misc-options">
                            <div class="medium-member">
                                <h4 class="h4">Become a Medium member</h4>
                                <img src="assets/star.svg" alt="">
                            </div>

                            <h4 class="h4">Create a Mastodon account</h4>
                            <h4 class="h4">Apply for author verification</h4>
                            <h4 class="h4">Apply to the Partner Program</h4>
                            <h4 class="h4">Gift a membership</h4>
                        </div>

                        <div class="sign-out">
                            <h4 class="h4">Sign out</h4>
                            <h4 class="h4">aj*********@gmail.com</h4>
                        </div>

                        <div class="menu-footer">
                            <ul class="list">
                                <li class="h4">Status</li>
                                <li class="h4">About</li>
                                <li class="h4">Careers</li>
                                <li class="h4">Blog</li>
                                <li class="h4">Privacy</li>
                                <li class="h4">Terms</li>
                                <li class="h4">Text to speech</li>
                                <li class="h4">Teams</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>