<body>
    <div>
        <div class="h-header-logo">
            <img src="assets/logo2.svg" alt="">
        </div>

        <div>
            <img src="assets/more" alt="">
        </div>
    </div>
    
</body>