<header id="website-header">

    <nav class="top-nav">
        <div class="left-container">
            <img src="assets/logo.svg" alt="website-logo">

            <h3 class="h3">Draft in Ajiteru Dolapo</h3>
        </div>

        <div class="top-nav-icons">
            <a class="publish-btn" href="">Publish</a>

            <div class="dot-more">
                <img class="more-dropdown-trigger" src="assets/dots-horizontal.svg" alt="search">

                <div class="dropdown-content3">
                    <div class="dot-dropdown-menu">
                        <div class="dot-system-options">
                            <h4 class="h4">Add to publications</h4>
                            <h4 class="h4">Share draft link</h4>
                            <h4 class="h4">Share to Twitter</h4>
                            <h4 class="h4">Manage unlisted setting</h4>
                            <h4 class="h4">Change featured image</h4>
                            <h4 class="h4">Change display title/subtitle</h4>
                            <h4 class="h4">Change topics</h4>
                            <h4 class="h4">See revision history</h4>
                            <h4 class="h4">More settings</h4>
                        </div>

                        <div class="dot-misc-options">
                            <h4 class="h4">Hints and keyboard shortcuts</h4>
                            <h4 class="h4">More help</h4>
                        </div>
                    </div>
                </div>
            </div>

            <img src="assets/bell-01.svg" alt="notifications">

            <div class="account">
                <img class="dropdown-trigger2" src="assets/user-circle.svg" alt="account">

                <!-- need a standardized code for handling all dropdowns -->
                <div class="dropdown-content2">
                    <div class="dropdown-menu">
                        <div class="menu-write">
                            <img src="assets/edit-05.svg" alt="">
                            <h4 class="h4">Write</h4>
                        </div>

                        <div class="menu-profile-list">
                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Profile</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/bookmark-add.svg" alt="">
                                <h4 class="h4">Library</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Stories</h4>
                            </div>

                            <div class="menu-profile-option">
                                <img src="assets/analytics.svg" alt="">
                                <h4 class="h4">Stats</h4>
                            </div>
                        </div>

                        <div class="menu-system-options">
                            <h4 class="h4">Settings</h4>
                            <h4 class="h4">Refine recommendations</h4>
                            <h4 class="h4">Manage publications</h4>
                            <h4 class="h4">Help</h4>
                        </div>

                        <div class="menu-misc-options">
                            <div class="medium-member">
                                <h4 class="h4">Become a Medium member</h4>
                                <img src="assets/star.svg" alt="">
                            </div>

                            <h4 class="h4">Create a Mastodon account</h4>
                            <h4 class="h4">Apply for author verification</h4>
                            <h4 class="h4">Apply to the Partner Program</h4>
                            <h4 class="h4">Gift a membership</h4>
                        </div>

                        <div class="sign-out">
                            <h4 class="h4">Sign out</h4>
                            <h4 class="h4">aj*********@gmail.com</h4>
                        </div>

                        <div class="menu-footer">
                            <ul class="list">
                                <li class="h4">Status</li>
                                <li class="h4">About</li>
                                <li class="h4">Careers</li>
                                <li class="h4">Blog</li>
                                <li class="h4">Privacy</li>
                                <li class="h4">Terms</li>
                                <li class="h4">Text to speech</li>
                                <li class="h4">Teams</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main id="write">

        <div class="write-section">

            <div class="write-title-wrapper">
                <input class="write-title" id="write-input" type="search" placeholder="Search" autofocus="off" required>
            </div>

            <div class="write-body-wrapper">
                
            </div>
        </div>

    </main>

</header>